*{
  margin: 0;
  padding: 0;
}
#wrapper{
  background-color: black;
  max-width: 80vw;
  max-height: 80vw;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#cont{
  font-size: 5vw;
  text-align: left;
}
#result{
  font-size: 5vw;
  text-align: right;
}
#display{
  position: relative;
  background-color: aquamarine;
  border: 1px solid black;
  color: rgb(0, 0, 10);
  /* font-size: 54px; */
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* justify-content: flex-end; */
  width: 100%;
  height: 100%;
  max-width: 70vw;
  max-height: 20vw;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#calculator{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  padding: 1%;
  background-color: #696969;
  border: 1px solid black;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 70vw;
  max-height: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
button{
  background-color: #ccc;
  border: 1px solid black;
  font-size: 5vw;
  cursor: pointer;
  padding: 1%;
  height: 100%;
  width: 100%;
  max-height: 10vw;
  max-width: 20vw;
  box-sizing: border-box;
  color: black;
  text-align: center;
  justify-content: space-between;
  border-radius: 3%;
}
button:hover{
  background-color: aquamarine;
}

